#featurevi{
    width:100%; height:300px;
    display:flex;flex-flow: column;
    background-color: #231729;
    filter: drop-shadow(5px 5px 5px #231729);  
    background-image: url(images/wallofviolins.jpg); background-position: center; background-size: cover;
    text-align: center; 
    padding-top: 75px;  
}



#woodwind, #brass, #string, #percussion{
    width: 23%; height:300px;
    margin:25px;
    filter: drop-shadow(5px 5px 5px #231729);
    border-radius: 3px;
    padding:10px;
    text-align: center;
}

#woodwind{
    background-image:url(images/clarinet.jpg);
    background-position: center; background-size: cover;background-repeat: no-repeat;
}
#brass{
    background-image:url(images/horn.jpg);
    background-position: center; background-size: cover;background-repeat: no-repeat;
}
#string{
    background-image:url(images/violins3.jpg);
    background-position: center; background-size: cover;background-repeat: no-repeat;
}
#percussion{
    background-image:url(images/xylophone.jpg);
    background-position: center; background-size: cover;background-repeat: no-repeat;
}